@charset "utf-8";

/* work2 */
.service {
    max-width: 960px;
    margin: 0 auto;
    background: #eeeeee;
    box-sizing: border-box;
}

.service h2 {
    color: green;
    text-align: center;
    padding-top: 70px;
}

.service_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 70px 50px;
}

.service_content {
    background: white;
}

.service_description {
    padding: 10px;
}

.service_content h3 {
    color: green;
    border-left: 7px solid green;
    margin-bottom: 10px;
    padding-left: 5px;
}

.service_description p {
    line-height: 1.5;
    font-size: 14px;
}

/* レスポンシブ */
@media screen and (max-width: 400px) {
    .service_wrapper {
        flex-direction: column;
        padding: 70px 10px;
    }

    .service_content img {
        width: 100%;
    }
}
